<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf5TXFn1tkrg2r8n-fmzEnG6ufDkR1DKg</string>
	<key>GCM_SENDER_ID</key>
	<string>791902120168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jvil723.eventforce</string>
	<key>PROJECT_ID</key>
	<string>eventforce-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>eventforce-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791902120168:ios:a2fbf0619a20a445a6c15d</string>
</dict>
</plist>